
body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}


h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
}


.image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}


.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#orderSearch, #orderFilter {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#orderSearch:focus, #orderFilter:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.stars span {
    font-size: 30px;
    cursor: pointer;
    color: #ffd700;
    transition: transform 0.2s ease-in-out;
}

.stars span:hover {
    transform: scale(1.2);
}


.review-box {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.review-box:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    background-color:  #038a54;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #07b36e;
}


.reviews {
    margin-top: 20px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
}

.reviews div {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 4px solid  #038a54;
}

hr {
    border: 1px solid #ddd;
    margin: 10px 0;
}
